[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
python-decouple = "*"
requests = "*"
django = "*"
folium = "*"
pillow = "*"
selenium = "*"
webdriver-manager = "*"
shapely = "*"

[dev-packages]

[requires]
python_version = "3.8"
